In [62]:
import requests 
import pandas as pd
import numpy as np

In [63]:
maindf = pd.DataFrame({"Address":''},index=[np.arange(1,10)])
maindf["Latitude"]=""
maindf["Longitude"]=""
maindf["Property Type"]=""
maindf["Lease Price"]=""
maindf["Sale Price"]= ""    
maindf['SizeInterior']=""
maindf.head()

  Address Latitude Longitude Property Type Lease Price Sale Price SizeInterior
1
2
3
4
5

In [64]:
Querycounter = 1
responses = []
for index, row in df.iterrows(): 
    try:
        latmin = np.random.uniform(low=41.3, high=43.6)
        latmax = np.random.uniform(low=43.6, high=43.9)
                                   
        lngmin = np.random.uniform(low=-76.6, high=-79.9)            
        lngmax = np.random.uniform(low=-79.3, high=-79.6)
        
        
        url = 'https://api2.realtor.ca/Listing.svc/PropertySearch_Post'
        body = {"CultureId":1,
        "ApplicationId":1,
        "PropertySearchTypeId":1,
        "TransactionTypeID":2,
        "BuildingTypeId":0,
        "LongitudeMin":{lngmin},
        "LongitudeMax":{lngmax},
        "LatitudeMin":{latmin},
        "LatitudeMax":{latmax}}
        response = requests.post(url, data=body).json()
        responses.append(response)
        print(f'Query {Querycounter}')
        Querycounter+=1
        
        maindf.loc[index, "Latitude"] = response['Results'][0]['Property']['Address']['Latitude']
        maindf.loc[index, "Longitude"] = response['Results'][0]['Property']['Address']['Longitude']
        maindf.loc[index,"Address"] = response['Results'][0]['Property']['Address']['AddressText']        
        maindf.loc[index,"Property Type"] = response['Results'][0]['Property']['Type']
        maindf.loc[index,"Lease Price"] = response['Results'][0]['Property']['LeaseRent']
        maindf.loc[index,"Sale Price"] = response['Results'][0]['Property']['Price']
        #df.loc[index,""] = response['Results'][0]['Land']['SizeTotal']
        maindf.loc[index,"Sq. Ftg."] = response['Results'][0]['Building']['SizeInterior']
                 
        print('---------------------------------------------------------------------------------------------------------------')
    except:
        print(f'City for coordinates')

Query 1
City for coordinates
Query 2
City for coordinates
Query 3
City for coordinates
Query 4
City for coordinates
Query 5
City for coordinates
Query 6
City for coordinates
Query 7
City for coordinates
Query 8
City for coordinates
Query 9
City for coordinates

In [71]:
maindf

,Address,Latitude,Longitude,Property Type,Lease Price,Sale Price,SizeInterior
1,|,43.7066352,-79.4236193,Single Family,,,
2,|,43.7066352,-79.4236193,Single Family,,,
3,"#904 -3065 QUEEN FREDERICA DR|Mississauga, Ont...",43.608776,-79.5880419,Single Family,,,
4,|,43.7066352,-79.4236193,Single Family,,,
5,|,43.7066352,-79.4236193,Single Family,,,
6,"#2006 -3 MARINE PARADE DR|Toronto, Ontario M8V3Z5",43.6302208,-79.4761374,Single Family,,,
7,"501 PRINCETON|Sarnia, Ontario N7S4K1",42.968395,-82.354254,Single Family,,,
8,"#51 -695 PORT MAITLAND RD|Haldimand, Ontario N...",42.8710773,-79.5851457,Single Family,,,
9,32 Church Street|Clarks Harbour|Clarks Harbour...,43.4464701,-65.6322111,Single Family,,,